.col-md-offset-1
  %p#notice= notice
  %p
    %strong Long url:
    = @transform.long_url
  %p
    %strong Short url:
    = link_to request.host + go_transform_path(@transform), @transform.long_url
  = link_to 'Back', transforms_path
