// Place all the styles related to the transforms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body-container {
  margin: 80px auto 0 auto;
  width: 85%;
  min-height: 500px;
}
.new_transform {
  margin-top: 50px;
}
